<p>Fetched: <a href={{model.url}}>{{model.url}}</a></p>

<p>Name: {{model.name}}</p>

<p>Images:</p>

<ul>

  {{#each model.images as |image|}}
    <img src={{image}} alt={{model.title}} width="300"/>
  {{/each}}

</ul>